.container{ 
    background: var(--background);
}

.headerImage{
    /* unset width /height since defined externally */
    z-index: inherit;
    width:100%;
    aspect-ratio: auto;
    opacity: 0.6;
}
.introTextContainer {
    background: var(--background);
}

