/* @import "tailwindcss"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent : #9a75d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.headline {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.05;
  margin: 0;
  text-align: inherit;
}

.subheadline {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  text-align: inherit;
}

.description { 
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    padding-top: 1rem;
    font-weight: 100;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
