.sonicScoreImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pageBackground {
    background: rgb(246, 240, 236);
    height: 100%;
}

.sonicScoreTypeset{
    display:flex;
    font-weight: 400;
    flex-direction: column;
    gap: 1em;
    justify-content: left;
    align-items: left;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #222222;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
}