.sonicScoreLogo{
    width: 100%;
    height: auto;
    object-fit: fill;
    position:relative !important;
}

.pageBackground {
    background: var(--softBackground);
    height: auto;
}

.downloadButton{
    background-color: var(--accent);
    color: var(--background);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    max-width: 50%;
    transition: background-color 0.3s ease;
}
.downloadButton:active{
    background-color: var(--foreground);
    color: var(--background);
}

.sonicScoreTypeset{

    flex-direction: column;
    justify-content: left;
    align-items: left;
    line-height: 1.6;
    color: var(--foreground);
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
}