
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 50vh;
  padding: 4rem;
  gap: 1rem;
}

.panel {
  flex: 1 1 0;
  padding: 2.5rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .buttons {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.5rem;
} */


.photoPanel {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.photo {
  border-radius: 1.2rem;
  object-fit: cover;
    width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
  }
  
  .panel {
    padding: 1rem;
  }
  
  .photoPanel {
    display: none;
    min-width: 0;
    min-height: 0;
    max-width: 400px;
  }
}
