
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: 70vh;
  padding: 4rem;
  gap: 1rem;
}

.panel {
  flex: 1 1 0;
  padding: 2.5rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.5rem;
}

.button {
  background: white;
  border: black 2px solid;
  color:black;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: background 0.2s;

}
.photoPanel {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 400px;
}

.photo {
  border-radius: 1.2rem;
  object-fit: cover;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .photoPanel {
    min-width: 0;
    min-height: 0;
  }
}
