.button {
  background: var(--background);
  border: var(--accent) 2px solid;
  color: var(--accent);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-direction: row;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: var(--accent);
  color: var(--background);
  border-color:  transparent ;
}
.icon {
  width: 1rem;
  margin : 0 0.5rem 0 0.5rem;
}