
.navbar-header {
  background: white;
  position: sticky;
  top: 0;
  width:100%;
  z-index: 1000;
  /* border-bottom: 1px solid #000000; */
    box-shadow: #222 0px 1px 6px -1px;
  margin: 0;
}

.navbar-main {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0 2rem;
}

.navbar-title {
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 28px;
  text-align: center;
  background-color: transparent;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid #f3f3f3;
  background: #fff;
}

.socialIcon {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  color: var(--accent);
  transition: color 0.2s;
}

.nav-link {
  font-weight: 400;
  font-size: 1.1rem;
  color: #222;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border-top: 1px solid #0000;
  border-bottom: 1px solid #0000;
  background: transparent;
  transition: border 0.1s;
  letter-spacing: 0.03em;
  line-height: 1.5;
  display: inline-block;
}

.nav-link:hover {
  border-top: 1px solid var(--foreground);
  border-bottom: 1px solid var(--foreground);
  background: transparent;
}
