.mediaHeaderContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap : 1rem;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
}

.mediaGallery{
    display: flex;
    justify-content: center;
}

.mediaName {
    padding-top:0.3rem;

}

.mediaVideo{
    aspect-ratio: 2/3;
}